In [53]:
import pandas as pd
import numpy as np

In [54]:
labourCosts = {
    '9': 30.0,
    '10': 50.0,
    '11': 50.0,
    '12': 64.0,
    '13': 74.0,
    '14': 74.0,
    '15': 44.0,
    '16': 10.0,
    '17': 54.0,
    '18': 66.0,
    '19': 66.0,
    '20': 66.0,
    '21': 66.0,
    '22': 59.0
 }

transactions = {
    '9': 0,
    '10': 130.88,
    '11': 320.65,
    '12': 514.65,
    '13': 406.08,
    '14': 177.77,
    '15': 63.43,
    '16': 75.42,
    '17': 142.34,
    '18': 748.62,
    '19': 421.08,
    '20': 0,
    '21': 240.54,
    '22': 0
}

In [55]:
data = pd.DataFrame.from_dict(data=labourCosts, orient='index', columns=["labourCosts"])

data["transactions"] = transactions.values()

data["labourCostPerSale"] = data.labourCosts/data.transactions

for index, row in data.iterrows():
    if row["labourCostPerSale"] == np.inf:
        row["labourCostPerSale"] = -row["labourCosts"]
    else:
        row["labourCostPerSale"] = round(row["labourCostPerSale"] * 100, 2)
    
data

    labourCosts  transactions  labourCostPerSale
9          30.0          0.00             -30.00
10         50.0        130.88              38.20
11         50.0        320.65              15.59
12         64.0        514.65              12.44
13         74.0        406.08              18.22
14         74.0        177.77              41.63
15         44.0         63.43              69.37
16         10.0         75.42              13.26
17         54.0        142.34              37.94
18         66.0        748.62               8.82
19         66.0        421.08              15.67
20         66.0          0.00             -66.00
21         66.0        240.54              27.44
22         59.0          0.00             -59.00

In [56]:
percentagesDict = data.labourCostPerSale.to_dict()

In [57]:
percentagesDict

{'9': -30.0,
 '10': 38.2,
 '11': 15.59,
 '12': 12.44,
 '13': 18.22,
 '14': 41.63,
 '15': 69.37,
 '16': 13.26,
 '17': 37.94,
 '18': 8.82,
 '19': 15.67,
 '20': -66.0,
 '21': 27.44,
 '22': -59.0}