In [20]:
import pandas as pd
from datetime import time

data = pd.read_csv("C:/Users/Nifemi/Code/vsc/TenzoInt/transactions.csv")

In [21]:
data

    amount   time
0   100.32  10:31
1    30.56  10:56
2   300.65  11:05
3    20.00  11:31
4    54.56  12:36
5   220.09  12:45
6   240.00  12:59
7   270.43  13:10
8   135.65  13:15
9    15.43  14:04
10  162.34  14:06
11   63.43  15:04
12   75.42  16:31
13  142.34  17:31
14   57.54  18:31
15  450.54  18:31
16  240.54  18:56
17  240.54  19:15
18  180.54  19:45
19  240.54  21:45

In [22]:
#Formulate the dictionary with the times as key and total as value
startTimes = lambda x: time(hour = int(x.split(":")[0]), minute = int(x.split(":")[1]))

earliestShiftStart = data.time.apply(startTimes).min()

latestShiftEnd = data.time.apply(startTimes).max()

allWorkingHoursList = list(range(earliestShiftStart.hour - 1,latestShiftEnd.hour + 2,1))

allWorkingHoursList = list(map(lambda x : f"{x}", allWorkingHoursList))

labourCostDict = dict.fromkeys(allWorkingHoursList, 0)

labourCostDict

{'9': 0,
 '10': 0,
 '11': 0,
 '12': 0,
 '13': 0,
 '14': 0,
 '15': 0,
 '16': 0,
 '17': 0,
 '18': 0,
 '19': 0,
 '20': 0,
 '21': 0,
 '22': 0}

In [23]:
def convertToTimeObject(x):
    if type(x) != int and ":" in x:
        splitTime = x.split(":")
        times = time(hour=int(splitTime[0]), minute=int(splitTime[1]))
    elif type(x) != int and "." in x:
        splitTime = x.split(".")
        times = time(hour=int(splitTime[0]), minute=int(splitTime[1]))
    else:
        times = time(hour=int(x))

    return times

data["time"] = list(map(convertToTimeObject, data.time))

data

    amount      time
0   100.32  10:31:00
1    30.56  10:56:00
2   300.65  11:05:00
3    20.00  11:31:00
4    54.56  12:36:00
5   220.09  12:45:00
6   240.00  12:59:00
7   270.43  13:10:00
8   135.65  13:15:00
9    15.43  14:04:00
10  162.34  14:06:00
11   63.43  15:04:00
12   75.42  16:31:00
13  142.34  17:31:00
14   57.54  18:31:00
15  450.54  18:31:00
16  240.54  18:56:00
17  240.54  19:15:00
18  180.54  19:45:00
19  240.54  21:45:00

In [25]:
for key, value in labourCostDict.items():
    hourBeginning = time(hour=int(key))

    counter=0
    for index, row in data.iterrows():
        if hourBeginning.hour == row["time"].hour:
            counter = counter + row['amount']
    labourCostDict[key] = round(counter, 2)

labourCostDict

{'9': 0,
 '10': 130.88,
 '11': 320.65,
 '12': 514.65,
 '13': 406.08,
 '14': 177.77,
 '15': 63.43,
 '16': 75.42,
 '17': 142.34,
 '18': 748.62,
 '19': 421.08,
 '20': 0,
 '21': 240.54,
 '22': 0}