In [2]:
import pandas as pd

data = pd.read_csv('C:/Users/Nifemi/Code/vsc/Tenzo Int/work_shifts.csv')

In [3]:
data

   break_notes end_time  pay_rate start_time
0        15-18    23:00      10.0      10:00
1  18.30-19.00    23:00      12.0      18:00
2      4PM-5PM    22:30      14.0      12:00
3          3-4    18:00      10.0      09:00
4     4-4.10PM    23:00      20.0      09:00
5      15 - 17    23:00      10.0      11:00
6      11 - 13    16:00      10.0      10:00

In [6]:
data.start_time[0]

'10:00'

In [18]:
from datetime import time

times = time(hour=10, minute=45) 

timestew = time(hour=10, minute=30)

print(bool(times > timestew))

#We can deal with the times by splitting them on the colon and creating a time object out of the value
#This will allow is to compare times
#All our times should be time objects to allow for comparisons
#For break times we need to also create time objects, need to convert to 24h time if "pm" comes after the number

True